# Dependencies
node_modules/

# Environment variables
.env

# Build files
client/build/
contracts/artifacts/
contracts/cache/

# IDE
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store